# Conceptos fundamentales de Python

Impresión de datos y operaciones básicas

In [ ]:
# Imprimir "Hola mundo"
print("Hola mundo")

In [ ]:
# Definir y utilizar variables
nombre = "Juan"
edad = 25
altura = 1.75

print("Nombre:", nombre)
print("Edad:", edad)
print("Altura:", altura)

In [ ]:
nombre

In [ ]:
edad

In [ ]:
altura

In [ ]:
type(nombre)

In [ ]:
type(edad)

In [ ]:
type(altura)

In [ ]:
type("Juan")

In [ ]:
type(25)

In [ ]:
print("Nombre tipo:", type(nombre))
print("Edad tipo:", type(edad))
print("Altura tipo:", type(altura))

In [ ]:
# Operaciones básicas
a = 11
b = 6

suma = a + b
resta = a - b
multiplicacion = a * b
division = a / b

print("Suma:", suma)
print("Resta:", resta)
print("Multiplicación:", multiplicacion)
print("División:", round(division,2))

Tipos de datos

In [ ]:
x = 10
y = 5
#Enteros

In [ ]:
type(x)

In [ ]:
pi = 3.14159
#punto flotante

In [ ]:
type(pi)

In [ ]:
nombre = "Juan"
#cadenas de texto

In [ ]:
type(nombre)

In [ ]:
es_verdadero = True
es_falso = False
#booleanos

In [ ]:
type(es_verdadero)

In [ ]:
es_falso

Listas

In [ ]:
numeros = [1, 2, 3, 4, 5]
nombres = ["Juan", "María", "Pedro"]
mezclado = [1, "dos", True, 3.14]

In [ ]:
multiplos_tres = [3, 6, 9, 12]

In [ ]:
type(multiplos_tres)

In [ ]:
primer_numero = numeros[0]

In [ ]:
primer_numero

In [ ]:
numeros[3]

In [ ]:
len(numeros)

In [ ]:
numeros[4]

In [ ]:
numeros[5]

In [ ]:
numeros[-1]

In [ ]:
mezclado

In [ ]:
for ele in mezclado:
    print(type(ele))

In [ ]:
mezclado[0] = 4

In [ ]:
mezclado

In [ ]:
numeros = [1, 2, 3, 4, 5]

In [ ]:
numeros[4] = 9

In [ ]:
numeros

Tuplas

In [ ]:
coordenadas = (10, 20)
punto = ("rojo", coordenadas)

In [ ]:
coordenadas

In [ ]:
coordenadas[0]

In [ ]:
coordenadas[0] = 100

Diccionarios

In [ ]:
persona = {
    "nombre": "Juan",
    "edad": 25,
    "ciudad": "Madrid"
}

In [ ]:
nombre_persona = persona["nombre"]

In [ ]:
nombre_persona

In [ ]:
persona["edad"]

In [ ]:
# Números
numero_entero = 10
numero_decimal = 3.14



# Listas
frutas = ["manzana", "banana", "naranja"]
primer_elemento = frutas[0]

# Tuplas
coordenadas = (3, 4)
x, y = coordenadas

# Diccionarios
persona = {"nombre": "Juan", "edad": 25, "ciudad": "México"}
edad = persona["edad"]

In [ ]:
# Cadenas de texto
nombre = "Juan"
mensaje = 'Hola, {}!'.format(nombre)

In [ ]:
mensaje

Dynamic comprehension

In [ ]:
numeros_din = [x for x in range(1,21,2)]
numeros_din

In [ ]:
# Listas
numeros = [1, 2, 3, 4, 5]
cuadrados = [num**2 for num in numeros]

# Tuplas
coordenadas = [(x, y) for x in range(3) for y in range(3)]

# Diccionarios
frutas = ["manzana", "banana", "naranja"]
puntuaciones = {fruta: len(fruta) for fruta in frutas}

In [ ]:
cuadrados

In [ ]:
coordenadas

In [ ]:
puntuaciones

Operaciones con números y caracteres

In [ ]:
# Operaciones con cadenas de texto
texto1 = "Hola"
texto2 = "Mundo"
concatenacion = texto1 + " " + texto2

In [ ]:
concatenacion

In [ ]:
longitud = len(texto1)

In [ ]:
longitud

In [ ]:
len(concatenacion)

In [ ]:
primer_caracter = texto1[0]

primer_caracter

Slicing

In [ ]:
texto = "Hola mundo"
subcadena = texto[1:5]

In [ ]:
subcadena

Otros métodos

In [ ]:
texto = "Hola mundo"
texto_mayusculas = texto.upper()  
texto_minusculas = texto.lower()  
reemplazo = texto.replace("Hola", "Adiós")  
palabras = texto.split()

In [ ]:
texto_mayusculas

In [ ]:
texto_minusculas

In [ ]:
reemplazo

In [ ]:
palabras

Comparaciones

In [ ]:
a = 10
b = 5

igualdad = a == b  
desigualdad = a != b  
mayor_que = a > b  
menor_que = a < b  
mayor_o_igual_que = a >= b  
menor_o_igual_que = a <= b

In [ ]:
igualdad, desigualdad, mayor_que, menor_que, mayor_o_igual_que, menor_o_igual_que

Funciones

In [ ]:
# Definición de una función
def saludar(nombre):
    mensaje = "¡Hola, {}!".format(nombre)
    return mensaje

In [ ]:
# Llamada a la función
nombre = "Sebastián"
saludo = saludar(nombre)
print(saludo)  # Resultado: ¡Hola, Juan!

In [ ]:
def suma(a, b):
    resultado = a + b
    return resultado

In [ ]:
resultado = suma(3, 4)  # Llamada a la función suma
print(resultado)

In [ ]:
def funcion(x,y):
    cuad = pow(x,2) + pow(y,2)
    return cuad

In [ ]:
funcion(3,4)

x**2 = pow(x,2)

# Ejemplos

In [ ]:
# Ejemplo: Acceder a elementos de una lista y diccionario

frutas = ["manzana", "banana", "naranja"]
primera_fruta = frutas[0]

persona = {"nombre": "Juan", "edad": 25, "ciudad": "México"}
edad_persona = persona["edad"]

print("La primera fruta es:", primera_fruta)
print("La edad de la persona es:", edad_persona)

In [ ]:
# Ejemplo: Generar una lista con los cuadrados de los números pares del 1 al 10

numeros = [num**2 for num in range(1, 11) if num % 2 == 0]

print("La lista de cuadrados es:", numeros)

In [ ]:
# Ejemplo: Generar una lista de tuplas con todas las combinaciones posibles de dos elementos de [1, 2, 3]

combinaciones = [(x, y) for x in [1, 2, 3] for y in [1, 2, 3]]

print("La lista de combinaciones es:", combinaciones)

# Expresiones Lambda

In [ ]:
# Ejemplo 1: Función lambda básica
# La función lambda toma un parámetro 'x' y devuelve el cuadrado de 'x'
square = lambda x: x ** 2

# Llamar a la función lambda
result = square(10)
print(result)

In [ ]:
type(square)

In [ ]:
# Ejemplo 2: Uso de lambda con filter()
# Filtrar los números pares de una lista
numbers = [x for x in range(1,11)]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

In [ ]:
# Ejemplo 3: Uso de lambda con map()
# Duplicar cada elemento de una lista
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

# Librerías en Python

In [ ]:
import math
import numpy as np

# Operaciones con la librería math
num = 2.5

# Redondeo
num_redondeado = round(num)
print("Redondeo:", num_redondeado)

# Valor absoluto
num_absoluto = abs(num)
print("Valor absoluto:", num_absoluto)

In [ ]:
# Funciones trigonométricas
angulo_rad = math.radians(45)
seno = math.sin(angulo_rad)
coseno = math.cos(angulo_rad)
print("Seno:", seno)
print("Coseno:", coseno)

In [ ]:
math.sin(45)

In [ ]:
math.pi

In [ ]:
np.pi

In [ ]:
math.sin((3.1416*45)/180)

In [ ]:
math.tan(angulo_rad)

In [ ]:
seno/coseno

In [ ]:
np.sin(angulo_rad)

In [ ]:
# Operaciones con la librería numpy
datos = [1, 2, 3, 4, 5]

# Suma
suma = np.sum(datos)
print("Suma:", suma)

# Promedio
promedio = np.mean(datos)
print("Promedio:", promedio)

# Máximo y mínimo
maximo = np.max(datos)
minimo = np.min(datos)
print("Máximo:", maximo)
print("Mínimo:", minimo)

# Mínimos de la función $f(x,y) = (4 - 2.1x^{2} + x^{4}/3)x^{2} + xy + (4y^{2}-4)y^{2}$

In [ ]:
import sympy as sp

x, y = sp.symbols('x y')
f = (4 - 2.1 * x ** 2 + ((x ** 4) / 3)) * x ** 2 + x * y + (4 * y ** 2 - 4)*y ** 2

df_dx = sp.diff(f, x)
df_dy = sp.diff(f, y)

df_dx, df_dy

In [ ]:
critical_points = sp.solve((df_dx, df_dy), (x, y))
critical_points

In [ ]:
hessian = sp.Matrix([[sp.diff(df_dx, x), sp.diff(df_dx, y)],
                    [sp.diff(df_dy, x), sp.diff(df_dy, y)]])

hessian

In [ ]:
nature = []

for point in critical_points:
    hessian_eval = hessian.subs({x: point[0], y: point[1]})
    determinant = hessian_eval.det()
    if determinant > 0:
        nature.append("Mínimo" if hessian_eval[0, 0] > 0 else "Máximo")
    elif determinant < 0:
        nature.append("Punto de silla")
    else:
        nature.append("Indeterminado")

nature

In [ ]:
# Paso 5: Identificación de mínimos locales y globales
minima = []

for i, point in enumerate(critical_points):
    value = f.subs({x: point[0], y: point[1]})
    if nature[i] == "Mínimo":
        minima.append((point, value, "Local"))
    elif nature[i] == "Máximo":
        minima.append((point, value, "Global"))

minima

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import minimize

# Definir la función
def f(x, y):
    return (4 - 2.1 * x ** 2 + (x ** 4 / 3)) * x ** 2 + x * y + (4 * y ** 2 - 4) + y ** 2

# Definir el rango de valores de x e y
x = np.linspace(-2, 2, 200)
y = np.linspace(-2, 2, 200)

# Crear una malla de puntos (x, y)
X, Y = np.meshgrid(x, y)

# Calcular los valores de la función en la malla de puntos
Z = f(X, Y)

# Encontrar el mínimo global
global_minimum = minimize(lambda coords: f(coords[0], coords[1]), x0=[0, 0])

# Encontrar los mínimos locales
local_minimum_1 = minimize(lambda coords: f(coords[0], coords[1]), x0=[-1, -1])
local_minimum_2 = minimize(lambda coords: f(coords[0], coords[1]), x0=[1, 1])

# Graficar la función
plt.figure(figsize=(8, 6))
plt.contourf(X, Y, Z, levels=100, cmap='viridis')
plt.colorbar(label='f(x, y)')
plt.xlabel('x')
plt.ylabel('y')

# Graficar los mínimos locales
plt.plot(local_minimum_1.x[0], local_minimum_1.x[1], 'ro', label='Local mínimo 1')
plt.plot(local_minimum_2.x[0], local_minimum_2.x[1], 'ro', label='Local mínimo 2')

# Graficar el mínimo global
plt.plot(global_minimum.x[0], global_minimum.x[1], 'bo', label='Global mínimo')

plt.legend()
plt.title('Gráfico de la función con mínimos')
plt.show()